body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:1157px;
}
#u4212 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:20px;
  width:1050px;
  height:1157px;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:570px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:312px;
  width:166px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:162px;
  word-wrap:break-word;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:353px;
  width:0px;
  height:0px;
}
#u4216_seg0 {
  border-width:0px;
  position:absolute;
  left:-272px;
  top:-4px;
  width:272px;
  height:8px;
}
#u4216_seg1 {
  border-width:0px;
  position:absolute;
  left:-272px;
  top:-9px;
  width:8px;
  height:13px;
}
#u4216_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:122px;
  width:166px;
  height:81px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:162px;
  word-wrap:break-word;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:163px;
  width:0px;
  height:0px;
}
#u4220_seg0 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-4px;
  width:106px;
  height:8px;
}
#u4220_seg1 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-26px;
  width:8px;
  height:30px;
}
#u4220_seg2 {
  border-width:0px;
  position:absolute;
  left:-141px;
  top:-26px;
  width:43px;
  height:8px;
}
#u4220_seg3 {
  border-width:0px;
  position:absolute;
  left:-141px;
  top:-32px;
  width:8px;
  height:14px;
}
#u4220_seg4 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
