body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1074px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:1945px;
}
#u4210 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:21px;
  width:1050px;
  height:1945px;
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:964px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
