body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1164px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:1139px;
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:31px;
  width:1050px;
  height:1139px;
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:562px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:390px;
  width:135px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:131px;
  word-wrap:break-word;
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:432px;
  width:0px;
  height:0px;
}
#u4170_seg0 {
  border-width:0px;
  position:absolute;
  left:-221px;
  top:-4px;
  width:221px;
  height:8px;
}
#u4170_seg1 {
  border-width:0px;
  position:absolute;
  left:-221px;
  top:-4px;
  width:8px;
  height:8px;
}
#u4170_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:-160px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
