body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2643px;
}
#u4112 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:17px;
  width:1050px;
  height:2643px;
}
#u4113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1314px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:537px;
  width:143px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:139px;
  word-wrap:break-word;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:576px;
  width:0px;
  height:0px;
}
#u4116_seg0 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:-4px;
  width:116px;
  height:8px;
}
#u4116_seg1 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:-7px;
  width:8px;
  height:11px;
}
#u4116_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:657px;
  width:143px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:139px;
  word-wrap:break-word;
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:696px;
  width:0px;
  height:0px;
}
#u4120_seg0 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u4120_seg1 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-4px;
  width:8px;
  height:8px;
}
#u4120_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
