body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1189px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:1229px;
}
#u4276 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:20px;
  width:1050px;
  height:1229px;
}
#u4277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:606px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4278 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:137px;
  width:132px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u4280 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:166px;
  width:0px;
  height:0px;
}
#u4280_seg0 {
  border-width:0px;
  position:absolute;
  left:-635px;
  top:-4px;
  width:635px;
  height:8px;
}
#u4280_seg1 {
  border-width:0px;
  position:absolute;
  left:-635px;
  top:-4px;
  width:8px;
  height:8px;
}
#u4280_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4281 {
  border-width:0px;
  position:absolute;
  left:-368px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4282 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:303px;
  width:132px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:332px;
  width:0px;
  height:0px;
}
#u4284_seg0 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-4px;
  width:125px;
  height:8px;
}
#u4284_seg1 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-4px;
  width:8px;
  height:7px;
}
#u4284_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
