body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1244px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:476px;
  width:134px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:130px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:1070px;
  width:134px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:130px;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:1458px;
  width:134px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:130px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2838px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:1050px;
  height:2838px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1411px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:511px;
  width:0px;
  height:0px;
}
#u70_seg0 {
  border-width:0px;
  position:absolute;
  left:-410px;
  top:-4px;
  width:410px;
  height:8px;
}
#u70_seg1 {
  border-width:0px;
  position:absolute;
  left:-410px;
  top:-4px;
  width:8px;
  height:33px;
}
#u70_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:-268px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:1493px;
  width:0px;
  height:0px;
}
#u72_seg0 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u72_seg1 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:72px;
}
#u72_seg2 {
  border-width:0px;
  position:absolute;
  left:-415px;
  top:60px;
  width:409px;
  height:8px;
}
#u72_seg3 {
  border-width:0px;
  position:absolute;
  left:-415px;
  top:-36px;
  width:8px;
  height:104px;
}
#u72_seg4 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:-274px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:1105px;
  width:0px;
  height:0px;
}
#u74_seg0 {
  border-width:0px;
  position:absolute;
  left:-399px;
  top:-4px;
  width:399px;
  height:8px;
}
#u74_seg1 {
  border-width:0px;
  position:absolute;
  left:-399px;
  top:-47px;
  width:8px;
  height:51px;
}
#u74_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:-271px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:884px;
  width:134px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:130px;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:919px;
  width:0px;
  height:0px;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-4px;
  width:119px;
  height:8px;
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-4px;
  width:8px;
  height:144px;
}
#u78_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:576px;
  width:134px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:130px;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:611px;
  width:0px;
  height:0px;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-4px;
  width:68px;
  height:8px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-61px;
  width:8px;
  height:65px;
}
#u82_seg2 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:-61px;
  width:67px;
  height:8px;
}
#u82_seg3 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:-67px;
  width:8px;
  height:14px;
}
#u82_seg4 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:-39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:1849px;
  width:134px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:130px;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:1884px;
  width:0px;
  height:0px;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:-4px;
  width:134px;
  height:8px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:-8px;
  width:8px;
  height:12px;
}
#u86_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
