body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4098 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:495px;
  width:225px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:221px;
  word-wrap:break-word;
}
#u4100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4100 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:732px;
  width:148px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:144px;
  word-wrap:break-word;
}
#u4102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2792px;
}
#u4102 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:1050px;
  height:2792px;
}
#u4103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1388px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4104 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:531px;
  width:0px;
  height:0px;
}
#u4104_seg0 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-4px;
  width:149px;
  height:8px;
}
#u4104_seg1 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-6px;
  width:8px;
  height:10px;
}
#u4104_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4105 {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4106 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:757px;
  width:0px;
  height:0px;
}
#u4106_seg0 {
  border-width:0px;
  position:absolute;
  left:-388px;
  top:-4px;
  width:388px;
  height:8px;
}
#u4106_seg1 {
  border-width:0px;
  position:absolute;
  left:-388px;
  top:-4px;
  width:8px;
  height:22px;
}
#u4106_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4107 {
  border-width:0px;
  position:absolute;
  left:-251px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4108 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:2211px;
  width:165px;
  height:63px;
}
#u4109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:161px;
  word-wrap:break-word;
}
#u4110 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:2243px;
  width:0px;
  height:0px;
}
#u4110_seg0 {
  border-width:0px;
  position:absolute;
  left:-413px;
  top:-4px;
  width:417px;
  height:8px;
}
#u4110_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4111 {
  border-width:0px;
  position:absolute;
  left:-256px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
